


<nav class="topnav">
  <h3>See what everyone's buzzin' about</h3>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
  </div>

</nav>
  <div class="gallery">
    <div class="clipped-border">
      <p>@username</p>
      <img
        src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.gettyimages.com.au%2Fgi-resources%2Fimages%2Ffrontdoor%2Fcreative%2FPanoramicImagesRM%2FFD_image.jpg&f=1"
        id="clipped">
        </p>
    </div>
    <div class="clipped-border">
      <p>@username</p>
      <img
        src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.gettyimages.com.au%2Fgi-resources%2Fimages%2Ffrontdoor%2Fcreative%2FPanoramicImagesRM%2FFD_image.jpg&f=1"
        id="clipped">
        </p>
    </div>
    <div class="clipped-border">
      <p>@username</p>
      <img
        src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.gettyimages.com.au%2Fgi-resources%2Fimages%2Ffrontdoor%2Fcreative%2FPanoramicImagesRM%2FFD_image.jpg&f=1"
        id="clipped">
        </p>
    </div>
    <div class="clipped-border">
      <p>@username</p>
      <img
        src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.gettyimages.com.au%2Fgi-resources%2Fimages%2Ffrontdoor%2Fcreative%2FPanoramicImagesRM%2FFD_image.jpg&f=1"
        id="clipped">
        </p>
    </div>
    <div class="clipped-border">
      <p>@username</p>
      <img
        src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.gettyimages.com.au%2Fgi-resources%2Fimages%2Ffrontdoor%2Fcreative%2FPanoramicImagesRM%2FFD_image.jpg&f=1"
        id="clipped">
        </p>
    </div>
    </div>

<nav id="slider">
  <!-- In this section, individual classes were deleted and condensed into benefits h3 in the CSS -->
  <section class="sidebar">
    <h3>HONEYCOMB</h3>
    <a class="navb"><i class="fa-solid fa-users"></i> Newsfeed</a>
    <a class="navb" href="/dashboard"><i class="fa-solid fa-circle-user"></i> Profile</a>
    <a class="navb" class="login-link" href="/login"><i></i>logout</a>
    <div class="wrap">
      <div class="beebody"></div>
      <div class="wing1"></div>
      <div class="wing2"></div>
      <div class="pupil"></div>
    </div>
  </section>
</nav>