<h1>The Honey Comb</h1>

<nav class="topnav">
        <h3>See what everyone's buzzin' about</h3>
        <form class="example" action="action_page.php">
          <input class="data-search" type="text" placeholder="Search" name="search">
          <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        
    </nav>

<article class="post">

    {{#each posts as |post| }}
        {{> post-info post}}
    {{/each}}

</article>

    <nav class="topnav">
    <h3>See what everyone's buzzin' about <i class="fa-brands fa-pagelines"></i></h3>
    <form class="example" action="action_page.php">
      <input class="data-search" type="text" placeholder="Search" name="search" />
      <button type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
  </nav>

  <div class="gallery">
    <div class="clipped-border">
      <p>@username</p>
      <img
        src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.gettyimages.com.au%2Fgi-resources%2Fimages%2Ffrontdoor%2Fcreative%2FPanoramicImagesRM%2FFD_image.jpg&f=1"
        id="clipped" />
    </div>
    <div class="clipped-border">
      <p>@username</p>
      <img src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fbpucette.b.p.pic.centerblog.net%2Ffv86ll9r.jpg&f=1"
        id="clipped" />
    </div>
    <div class="clipped-border">
      <p>@username</p>
      <img
        src="https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Fimagejournal.org%2Fwp-content%2Fuploads%2Fbb-plugin%2Fcache%2F23466317216_b99485ba14_o-panorama.jpg&f=1"
        id="clipped" />
    </div>
    <div class="clipped-border">
      <p>@username</p>
      <img
        src="https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.lokeshdhakar.com%2Fprojects%2Flightbox2%2Fimages%2Fimage-4.jpg&f=1"
        id="clipped" />
    </div>
    <div class="clipped-border">
      <p>@username</p>
      <img
        src="https://images.pexels.com/photos/932638/pexels-photo-932638.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
        id="clipped" />
    </div>
    <div class="shadow"></div>
  </div>

  <nav id="slider">
    <!-- In this section, individual classes were deleted and condensed into benefits h3 in the CSS -->
    <section class="sidebar">
      <h3 class="hc-logo">HONEYCOMB</h3>
      <a class="navb" href="#"><i class="fa-solid fa-users"></i> Newsfeed</a>
      <a class="navb" href="#"><i class="fa-solid fa-circle-user"></i> Profile</a>
      <div class="wrap">
        <div class="beebody"></div>
        <div class="wing1"></div>
        <div class="wing2"></div>
        <div class="pupil"></div>
      </div>
    </section>
  </nav>
    

    <script src="./js/script.js"></script>
