
<body>
    <div class="container">

        <div class="hex-layer-4">
            <div class="hex honey card-header">
                 <a class="login-link" href="/login">Login</a>
               </div>
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex honey">
               <a class="signup-link" href="/signup">create account</a>
            </div>
        </div>
        <form id="login-form">
            <div class="hex-layer-3">
                <div class="hex"></div>
                <div class="hex login">
                  <form id="login-form"></form>
                    <label for="username">username:</label><br>
                    <input  id="username-login" type="text" autofocus="true" class="form-input" /><br>
                    <label for="password">password:</label><br>
                    <input id="password-login" type="password" autofocus="true" class="form-input" /><br>
                    <button type="submit"><a href="/homepage">Login</a></button>
                </div>
                </form>
                <div class="hex"></div>
            </div>
            <div class="hex-layer-2">
                <div class="hex"></div>
                <div class="hex"></div>
            </div>
            <div>
                <div>
                </div>
            </div>
        </form>
    </div>

    <div class="wrap">
        <div class="beebody"></div>
        <div class="wing1"></div>
        <div class="wing2"></div>
        <div class="pupil"></div>
    </div>
    <script src="/javascript/login.js"></script>


</body>


<!-- javascript file-->
<script src="/javascript/login.js"></script>