<body>
    <h1>HONEYCOMB</h1>
    <div class="container">
        

        <div class="hex-layer-4">
            <div class="hex honey">Login</div>
            <div class="hex"></div>
            <div class="hex"></div>
            <div class="hex honey">
               <a class="login-link" href="/signup">create account</a>
            </div>
        </div>
        <form id="login-form">
            <div class="hex-layer-3">
                <div class="hex"></div>
                <div class="hex login">
                    <label for="username">username:</label><br>
                    <input type="text" id="username-login" name="user"><br>
                    <label for="password">password:</label><br>
                    <input type="password" id="password-login" name="password"><br>
                    <button type="submit"><a href="/homepage">Login</a></button>
                </div>
                <div class="hex"></div>
            </div>
            <div class="hex-layer-2">
                <div class="hex"></div>
                <div class="hex"></div>
            </div>
            <div>
                <div>
                </div>
            </div>
        </form>
    </div>

    <div class="wrap">
        <div class="beebody"></div>
        <div class="wing1"></div>
        <div class="wing2"></div>
        <div class="pupil"></div>
    </div>
    <script src="./javascript/login.js"></script>


</body>