 <body>
       <div class="card">
        <h1>HONEYCOMB</h1>
    <div class="hex-layer-4">
        <div class="hex honey">
          <button class="login-link" href="/login">Log in instead</button>
        </div>
        <div class="hex"></div>
        <div class="hex"></div>
        <div class="hex honey card-header">
           <button class="signup-link" href="/signup">Create Account</button>
        </div>
      </div>
      <div class="hex-layer-3">
        <div class="hex"></div>
        <div class="hex login">
          <form id="signup-form" class="card-body">
          <label for="username-signup" class="form-label">Username</label><br>
        <input id="username-signup" type="text" class="form-input"><br>
          <label class="form-label" for="password-signup">Password</label><br>
        <input  id="password-signup" type="password" class="form-input"><br>
          <input type="password" id="passwerd" name="password"><br>
          <button id="submit">Create Account</button>
          </form>
        </div>
        <div class="hex"></div>
      </div>
      <div class="hex-layer-2">
        <div class="hex"></div>
        <div class="hex">
        </div>
      </div>
      <div>
 <div>
  </div>
</body>

<!-- javascript file-->
<script src="/javascript/signup.js"></script>