* {
	font-family: 'Vidaloka', serif;
	background-color: white;
}

.honeycomb {
	clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
	background-color: rgb(244, 220, 85);
	width: 270px;
	height: 300px;
	margin-top: 150px;
}

.field {
	justify-content: center;
	align-items: center;
	background-color: transparent;
text-align: center;
padding-top: 70px;
}

label {
	background-color: transparent;
}

h1{
	background-color: transparent;
	text-align: center;
	justify-content: center;
	line-height: 20px;
	letter-spacing: 4px;
	margin: 70px;
	
}

.container {
	max-width: 1000px;
	margin: 50px auto 20px auto;
  }
 
  
  .hex-layer-4 {
	display: grid;
	margin: -30px 0px;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(4, 0fr);
  }
  .hex-layer-3 {
	display: grid;
	margin: -35px 0px;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(3, 0fr);
  }
  .hex-layer-2 {
	display: grid;
	margin: -40px -10px;
	justify-content: center;
	align-content: center;
	grid-template-columns: repeat(2, 0fr);
  }
  .hex {
	height: 150px;
	padding-top: 50px;
	width: 170px;
	align-self: center;
	background: #ffd100;
	-webkit-clip-path: polygon( 50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
	clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  }

  .login {
	align-content: center;
	text-align: center;
	
  }

  .login button {
	background-color: white;
	border-radius: 20px;
  }
  
  .honey {
	justify-content: center;
	align-items: center;
	text-align: center;
  }

  .wrap{
	position: absolute;
	animation: buzzing 1s ease-in-out infinite;
  }

  @keyframes buzzing {
	0% {
		bottom: 100px;
	}
	50% {
		bottom: 130px;
	}
	100% {
		bottom: 100px;
	}
	}



  .beebody {
	position: absolute;
	height: 85px;
	width: 75px;
	border-radius: 100%;
	background-color: #ffd100;
	box-shadow: 20px 0 0 #000, 40px -3px 0 #ffd100, 60px -7px 0 #000, 80px -11px 0 #ffd100;
	filter: blur(1px);
  }

  .wing1 {
	position: absolute;
	height: 55px;
	width: 55px;
	transform: rotate(20deg);
	transform-origin: bottom right;
	border-top-right-radius: 100%;
	border-bottom-left-radius: 100%;
	border-top-left-radius: 10px;
	background-color: rgb(182, 215, 218);
	border: black 2px;
	margin-left: 30px;
	bottom: 3px;
	z-index: 0;
	filter: blur(1px);
	animation: flutter1 0.7s linear reverse infinite;
  }

  @keyframes flutter1 {
	0% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(40deg)
	}
  }

  .wing2{
	position: absolute;
	height: 55px;
	width: 55px;
	transform: rotate(80deg);
	transform-origin: bottom right;
	border-top-right-radius: 100%;
	border-bottom-left-radius: 100%;
	border-top-left-radius: 10px;
	background-color: rgb(182, 215, 218);
	bottom: 2px;
	margin-left: 30px;
	filter: blur(1px);
	animation: flutter2 0.9s linear reverse infinite;
  }

  @keyframes flutter2 {
	0% {
		transform: rotate(80deg);
	}
	50% {
		transform: rotate(100deg)
	}
  }

  .pupil {
	position: absolute;
	height: 7px;
	width: 7px;
	background-color: #000;
	border-radius: 100%;
	box-shadow: 20px 0 0 #000;
	margin-top: 30px;
	margin-left: 5px;
	filter: blur(1);
  }

  .sidebar {
	height: 100%;
	width: 180px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color:#ffd00079;
	overflow-x: hidden;
	padding-top: 16px;
	padding-left: 15px;
	justify-content: center;
  }
  
  /* Style sidebar links */
  .sidebar a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #110617;
	display: block;
	background-color: transparent;
  }

  h3{
	background-color: transparent;
  }

  .topnav {
	display: flex;
	justify-content: center;
	text-align: center;
  }

  body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  }
 
  .gallery{
	justify-content: center;
	align-items: center;
	position:relative;
	height:100%;
	width:100%;
	margin-left:600px;
	margin-top: 75px;
  }
  
  .gallery:after{
	content:'';
  }
  
  
  img{
	width:var(--width);
	height:var(--height);
  }
  
  .clipped-border{
	-webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
	 clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
	 padding:5px;
	 background:linear-gradient(#ffd000c4,lightgrey);
	 width:var(--border-width);
	 height:var(--border-height);
	 max-height:250px;
	 max-width:250px;
	 height: var(--height);
	 width:var(--width);
	 transition:transform 0.2s;
	 position:absolute;
	 cursor:pointer;
  }
  
  
  
  .clipped-border:before{
	content:'';
	position:absolute;
	opacity:0.5;
	width:350px;
	height:70px;
	background:white;
	top:0;
	left:0;
	z-index:1;
	transform:rotate(45deg);
	transition:transform 0.5s;
  }
  
  .clipped-border:hover:before{
	transform: translate(-100px,400%) rotate(45deg);
	transition:transform 0.5s;
  }
  
  .clipped-border:nth-child(2){
	top:196px;
	left:118px;
  }
  
  .clipped-border:nth-child(3){
	top:0;
	left:235px;
  }
  
  .clipped-border:nth-child(4){
	top:196px;
	left:353px;
  }
  
  .clipped-border:nth-child(5){
	top:0;
	left:470px;
  }
  
  #clipped {
  -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
  
  }
  
  .clipped-border:hover{
	transform:scale(1.2);
	transition:transform 0.2s;
	z-index:10;
  }
  
  
  @media screen and (max-width:500px){
	.clipped-border{
	  width:100px;
	  height:100px;
	}
	
	.clipped-border:nth-child(2){
	  top:0;
	  left:100px;
	}
	
	.clipped-border:nth-child(3){
	  left:200px;
	}
	
	.clipped-border:nth-child(4){
	  top:82px;
	  left:50px;
	}
	
	.clipped-border:nth-child(5){
	  top:82px;
	  left:150px;
	}
  }

  p {
	text-align: center;
	background-color: transparent;
  }

  nav a {
	border-radius: 10px;
	background-color: palevioletred;
	border-color: palevioletred;
	color: black;
	text-decoration: none;
	position: relative;
  }
  
  .navb::after {
	content: " ";
	height: 2px;
	width: 0;
	background: rgb(189, 146, 38);
	position: absolute;
	left: 0;
	bottom: 0px;
	transition: 0.5s;
  }
  
  .navb:hover::after {
	width: 50%;
  }